<div class="jumbotron">
	<h1>About us</h1>
	<p>We are building our first app with One Month Rails.</p>
	<p>Welcome to Pinteresting!</p>
</div>
<div class="well">
	<h2>Our inspiration</h2>
	<blockquote>
  <p>The more that you read, the more things you will know. The more that you learn, the more places you'll go.</p>
  <footer>Dr. Seuss in <cite title="I Can Read With My Eyes Shut!">I Can Read With My Eyes Shut!</cite></footer>
</blockquote>
</div>
<div class="well">
<h2>Our support</h2>
<p>Interested in learning how to do this? Speak to the awesome folk at OneMonth.</p>
<a href="https://onemonth.com" class="btn btn-primary btn-lg active" role="button">Learn more</a>
</div>
